

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    background: white;
    
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.front {
    justify-content: center;
}

.front h1 {
    text-align: center;
    margin: 50px;
}

.front p {
    text-align: center;
    margin: 20px;
}

footer {
    justify-content: center;
    text-align: center;
    margin: 50px;
}
