body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
    background: white;

}

nav {
    background-color: #750062;
}


.front img {
    max-width: 100%;
    width: 300px;
    display: block;
    height: auto;
}

.front {
    justify-content: center;
    padding-top: 20px;
}

.front h1 {
    text-align: center;
    margin: 50px;
}

.front h2 {
    text-align: center;
    margin-top: 40px;
}

.front p {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
    color: #000000;
}

footer {
    justify-content: center;
    text-align: center;
    margin: 50px;
}

footer img {
    max-width: 100%;
    width: 32px;
    height: auto;
    margin-right: 5px;
    display: inline-block;
}

footer a {
    margin-right: 20px;
}